//  This file is part of an img.ly Software Development Kit.
//  Copyright (C) 2016-2020 img.ly GmbH <contact@img.ly>
//  All rights reserved.
//  Redistribution and use in source and binary forms, without
//  modification, are permitted provided that the following license agreement
//  is approved and a legal/financial contract was signed by the user.
//  The license agreement can be found under the following link:
//  https://www.photoeditorsdk.com/LICENSE.txt

#include "../../../Configuration/SampleCode.xcconfig"
#include "../../../Pods/Target Support Files/Pods-ObjcExample/Pods-ObjcExample.release.xcconfig"
